{% extends 'base.html' %}

{% block content %}
<articles>
  <div class="container">
    <h1>База знаний</h1>
  </div>
  <div class="container">
      {% for article in articles %}
        <div>
          <h3>{{ article.title }}</h3>
          <p>{{ article.datetime_created }}, {{ article.author.get_full_name }}</p>
          <p>{{ article.short_text }}</p>
          <form action="{% url 'articles:page' article.id %}">
              <button type="submit" class="btn btn-primary btn-sm">Читать дальше</button>
          </form>
        </div>
      {% endfor %}
  </div>
</articles>
{% endblock content %}
