{% extends 'base.html' %}

{% block content %}
<articles>
  <div class="container">
    <p>{{ article.datetime_created }}, {{ article.author.get_full_name }}</p>
    <h1>{{ article.title }}</h1>
    <div>{{ article.short_text }}</div>
    <br>
    <div>{{ article.text|safe }}</div>
    {% if views_author %}
      <form action="{% url "articles:change" article.id %}">
        <button type="submit" class="btn btn-default">Редактировать статью</button>
      </form>
    {% endif %}
  </div>
</articles>
{% endblock content %}
