<!doctype html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Создать новую статью</title>
      <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
      <articles>
        <div class="container">
          <div class="input-group">
            <form action="{% url 'articles:new' %}" method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="Submit" class="btn">Создать</button>
            </form>
          </div>
        </div>
      </articles>
    </body>
  </html>
</script>