{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Статья успешно создана</h1>
    <p>Вы успешно создали статью: <a href="{% url 'articles:page' article.id %}">{{ article.title }}</a></p>
    <p>
      <a class="btn btn-primary btn-lg" href="{% url "articles:new" %}" role="button">Добавить ещё статью</a>
      <a class="btn btn-primary btn-lg" href="{% url "articles:list" %}" role="button">На главную</a>
    </p>
  </div>
</div>
{% endblock content %}
