{% extends 'base.html' %}

{% block content %}
  <articles>
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          Изменить пользователя
        </div>
        <div class="panel-body">
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary pull-right">Изменить</button>
          </form>
        </div>
      </div>
    </div>
  </articles>
{% endblock content %}
